#shop	{border: 1px solid black; width:323px;padding: 10px; background: #dde1e1;}
#shop table{padding-bottom:15px;}
#basket{position: fixed; right: 10px; top:0px;}
#basket table{padding:10px; background: #dde1e1; border: 1px solid black;}
#basket th{padding:10px;background: #ccc; color:darkgreen}
